@model MvcMusicStore.Models.ChangePassword

@{
    ViewData["Title"]  = "Change Password";
    bool isPost = Convert.ToBoolean(ViewData["isPost"]);
    string indicator = Convert.ToString(ViewData["Indicator"]);
}

@if (isPost == false) 
{
    <div>
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.UserName)</td>

                    <td>
                          <input type="text" name="UserName" />
                    </td>
                </tr>

                <tr>
                    <td>@Html.DisplayNameFor(model => model.CurrentPassword)</td>

                    <td>
                          <input type="password" name="CurrentPassword" 
                              id="ACurrentPasswordInput" 
                          />
                          <input type="checkbox" onclick="CurrentPasswordInput()"> 
                            Show Password
                    </td>
                </tr>

                <tr>
                    <td>@Html.DisplayNameFor(model => model.NewPassword)</td>

                    <td>
                          <input type="password" name="NewPassword" 
                              id="ANewPasswordInput" 
                          />
                          <input type="checkbox" onclick="NewPasswordInput()"> 
                              Show New Password
                    </td>
                </tr>

                <tr>
                    <td>@Html.DisplayNameFor(model => model.ConfirmNewPassword)</td>

                    <td>
                         <input type="password" name="ConfirmNewPassword" 
                             id="AConfirmNewPasswordInput" 
                         />
                         <input type="checkbox" onclick="ConfirmNewPasswordInput()"> 
                              Show Confirm New Password
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="submit" value="Log On">
                    </td>
                </tr>
            </table>
        }
    </div>
}
else 
{
    @if (indicator == "Test1")
    {
        <div>
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
            {
            <table>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.UserName)</td>

                    <td>
                         <input type="text" name="UserName" value=@Model.UserName />
                    </td>
                </tr>

                <tr>
                    <td>@Html.DisplayNameFor(model => model.CurrentPassword)</td>

                    <td>
                         <input type="password" name="CurrentPassword" 
                             id="ACurrentPasswordInputTest1" value=@Model.CurrentPassword 
                         />
                         <input type="checkbox" onclick="CurrentPasswordInputTest1()"> 
                            Show Password
                    </td>
                </tr>

                <tr>
                    <td>@Html.DisplayNameFor(model => model.NewPassword)</td>

                    <td>
                         <input type="password" name="NewPassword" 
                             id="ANewPasswordInputTest1" value=@Model.NewPassword 
                         />
                         <input type="checkbox" onclick="NewPasswordInputTest1()"> 
                            Show New Password
                    </td>
                </tr>

                <tr>
                    <td>@Html.DisplayNameFor(model => model.ConfirmNewPassword)</td>

                    <td>
                        <input type="password" name="ConfirmNewPassword" 
                            id="AConfirmNewPasswordInputTest1" value=@Model.ConfirmNewPassword 
                        />
                        <input type="checkbox" onclick="ConfirmNewPasswordInputTest1()"> 
                            Show Confirm New Password
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="submit" value="Log On">
                    </td>
                </tr>
            </table>
            }
        </div>

        @foreach (var key in ViewData.ModelState.Keys)
        {
            foreach (var error in ViewData.ModelState[key].Errors)
            {
                <div>@error.ErrorMessage</div>
            }
        }
    }
    else
    {
        <div>
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
            {
            <table>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.UserName)</td>

                    <td>
                        <input type="text" name="UserName" value=@Model.UserName />
                    </td>
                </tr>

                <tr>
                    <td>@Html.DisplayNameFor(model => model.CurrentPassword)</td>

                    <td>
                        <input type="password" name="CurrentPassword" 
                            id="ACurrentPasswordInputTest2" value=@Model.CurrentPassword 
                        />
                        <input type="checkbox" onclick="CurrentPasswordInputTest2()"> 
                            Show Password
                    </td>
                </tr>

                <tr>
                    <td>@Html.DisplayNameFor(model => model.NewPassword)</td>

                    <td>
                        <input type="password" name="NewPassword" 
                            id="ANewPasswordInputTest2" value=@Model.NewPassword 
                        />
                        <input type="checkbox" onclick="NewPasswordInputTest2()"> 
                            Show New Password
                    </td>
                </tr>

                <tr>
                    <td>@Html.DisplayNameFor(model => model.ConfirmNewPassword)</td>

                    <td>
                        <input type="password" name="ConfirmNewPassword" 
                            id="AConfirmNewPasswordInputTest2" value=@Model.ConfirmNewPassword 
                        />
                        <input type="checkbox" onclick="ConfirmNewPasswordInputTest2()"> 
                            Show Confirm New Password
                    </td> 
                </tr>

                <tr>
                    <td>
                        <input type="submit" value="Log On">
                    </td>
                </tr>
            </table>
            }
        </div>

        @foreach (var key in ViewData.ModelState.Keys)
        {
            foreach (var error in ViewData.ModelState[key].Errors)
            {
                <div>@error.ErrorMessage</div>
            }
        }
    }
}

<script>
    function CurrentPasswordInput() 
    {
        var x = document.getElementById("ACurrentPasswordInput");

        if (x.type === "password") 
        {
            x.type = "text";
        } 
        else 
        {
            x.type = "password";
        }
    }

    function NewPasswordInput()
    {
        var x = document.getElementById("ANewPasswordInput");

        if (x.type === "password") 
        {
            x.type = "text";
        } 
        else 
        {
            x.type = "password";
        }
    }

    function ConfirmNewPasswordInput() 
    {
        var x = document.getElementById("AConfirmNewPasswordInput");

        if (x.type === "password") 
        {
            x.type = "text";
        } 
        else 
        {
            x.type = "password";
        }
    }

    function CurrentPasswordInputTest1()
    {
        var x = document.getElementById("ACurrentPasswordInputTest1");

        if (x.type === "password") 
        {
            x.type = "text";
        } 
        else 
        {
            x.type = "password";
        }
    }

    function NewPasswordInputTest1() 
    {
        var x = document.getElementById("ANewPasswordInputTest1");

        if (x.type === "password") 
        {
            x.type = "text";
        } 
        else 
        {
            x.type = "password";
        }
    }

    function ConfirmNewPasswordInputTest1()
    {
        var x = document.getElementById("AConfirmNewPasswordInputTest1");

        if (x.type === "password") 
        {
            x.type = "text";
        } 
        else 
        {
            x.type = "password";
        }
    }

    function CurrentPasswordInputTest2()
    {
        var x = document.getElementById("ACurrentPasswordInputTest2");

        if (x.type === "password") 
        {
            x.type = "text";
        } 
        else 
        {
            x.type = "password";
        }
    }

    function NewPasswordInputTest2() 
    {
        var x = document.getElementById("ANewPasswordInputTest2");

        if (x.type === "password") 
        {
            x.type = "text";
        } 
        else 
        {
            x.type = "password";
        }
    }

    function ConfirmNewPasswordInputTest2()
    {
        var x = document.getElementById("AConfirmNewPasswordInputTest2");

        if (x.type === "password") 
        {
            x.type = "text";
        } 
        else 
        {
            x.type = "password";
        }
    }
</script>