@model MvcMusicStore.Models.Album

@{
    ViewData["Title"] = "Add New Album";
    bool isPost = Convert.ToBoolean(ViewData["isPost"]);
    bool indicator = Convert.ToBoolean(ViewData["indicator"]);
}

<h1>Add New Album</h1>
<br />

@if (isPost == false) 
{
    <div>
        @using (Html.BeginForm("AddNewAlbum", "StoreManager", FormMethod.Post))
        {
            <table>
                @*<tr style="display: none">
                    <td>Album ID</td>
                    <td>
                        <input type="text" name="AlbumId" value=@Model.AlbumId />
                    </td>
                </tr>*@
                <tr>
                    <td>@Html.DisplayNameFor(model => model.SelectGenreId)</td>
                    <td>
                        @Html.DropDownListFor(
                            model => model.SelectGenreId, Model.SelectGenre, "Select Genre")
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.SelectArtistId)</td>
                    <td>
                        @Html.DropDownListFor(
                            model => model.SelectArtistId, Model.SelectArtist, "Select Artist")
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Title)</td>
                    <td>
                        <input type="text" name="Title" />
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Price)</td>
                    <td>
                        <input type="text" name="Price" />
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.AlbumArtUrl)</td>
                    <td>
                        <input type="text" name="AlbumArtUrl" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Add New Album">
                    </td>
                    <td>
                        <a href="@Url.Action("Index", "StoreManager")">
                            Cancel
                        </a>  
                    </td>
                </tr>
            </table>
        }
    </div>
}
else 
{
    @if (indicator)
    {
        <p>Added the Following album: </p>
        <p>Title: @Model.Title</p>
    }
    else
    {
        <p> Not successful. Try adding album again. </p>
    }
}